# Entornos virtuales
venv/
env/
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno
.env

# Bases de datos locales (SQLite)
*.db
*.sqlite3

# IDEs y SO
.vscode/
.DS_Store